@import './fonts.scss';

img{
    width: 100%;
    height: auto;
    display: block;
}
 
h1{
    font-weight: 600 !important;
}
 
body,html{
    font-family: $Font !important;
    font-weight: 600;
    font-size: 10px;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        width: 5px;
      }
      ::-webkit-scrollbar-track {
        background: rgba(0,0,0,1); 
      }
      ::-webkit-scrollbar-thumb {
        background: rgb(63, 63, 63); 
        border-radius: 30px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
}
 
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 52px;
    background: $navBlack;
    z-index: 9999;
    .side-bar-wrapper{
        padding: 0px;
    }
    .d-flex{
        height: 100vh;
        .middle-wrapper{
            width: 100%;
            flex: 0 0 55%;
            .mainNav{
                height: 100%;
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    list-style: none;
                    padding-left: 0;
                    height: 65%;
                    width: 100%;
                    li{
                        a{
                            text-decoration: none !important;
                            color: $wText;
                            transition: color .3s ease-in-out;
                            height: 100%;
                            display: block;
                            svg{
                                opacity: 1;
                                transition: opacity .5s ease-in-out;
                                // font-size: 22px;
                                width: 26px;
                                height: 26px;
                                display: block;
                                text-align: center;
                                margin: 10px auto;
                            }
                            span{
                                opacity: 0;
                                transition: opacity .3s ease-in-out;
                                width: 100%;
                                text-align: center;
                                display: block;
                                font-size: 12px;
                                letter-spacing: 1px;
                                font-weight: 600;
                                margin-top: -30px;
                            }
                        }
                        &.active{
                            a{
                                color: $MainRed;
                            }
                        }
                        &:hover{
                            a{
                                color: $MainRed;
                                transition: color .3s ease-in-out;

                                svg{
                                    opacity: 0;
                                    transition: opacity .3s ease-in-out;
                                }
                                span{
                                    opacity: 1;
                                    transition: opacity .5s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        } 
        .top-wrapper{
            width: 100%;
            flex: 0 0 22.5%;
        }
        .bottom-wrapper{
            width: 100%;
            flex: 0 0 22.5%;
            .socials{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                list-style: none;
                padding-left: 0;
                height: 100%;
                width: 100%;

                li{
                    a{
                        text-decoration: none !important;
                        color: $wText;
                        transition: color .3s ease-in-out;
                        height: 100%;
                        display: block;
                        svg{
                            opacity: 1;
                            transition: opacity .5s ease-in-out;
                            // font-size: 22px;
                            display: block;
                            width: 28px;
                            height: 28px;
                            text-align: center;
                            margin: 10px auto;
                        }
                    }
                    &:hover{
                        a{
                            color: $MainRed;
                            transition: color .3s ease-in-out;
                        }
                    }
                    &.settings-btn{
                        span{
                            width: 100%;
                            height: 40px;
                            display: flex;
                            margin-bottom: 7px;
                            svg{
                                margin: auto;
                                width: 28px;
                                height: 28px;
                                color: $wText;
                                transition: color .3s ease-in-out;
                            }
                            &:hover{
                                cursor: pointer;
                                svg{
                                    color: $MainRed;
                                    transition: color .3s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
        .settings{
            display: block;
            width: 0px;
            height: 50px;
            position: fixed;
            bottom: 0;
            left: 50px;
            background: $navBlack;
            border-top-right-radius: 15px;
            transition: width .3s ease-in-out;
            overflow: hidden;
            &.open{
                width: 130px;
                transition: width .3s ease-in-out;
            }
            ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                li{
                    span{
                        img{
                            width: 33px;
                            height: 23px;
                            display: block;
                            border: solid 2px $navBlack;
                            transition: border .3s ease-in-out;
                        }
                        &:hover{
                            cursor: pointer;
                            img{
                                border: solid 2px $MainRed;
                                transition: border .3s ease-in-out;
                            }
                        }
                    }
                    &.active{
                        span{
                            img{
                                border: solid 2px $MainRed;
                            }
                        }
                    }
                }
            }
        }
    }
}

section{
    padding: 50px 0 50px 0;
}

footer{
    position: relative;
    z-index: 1;
    padding: 20px 0 20px;
    background: $navBlack;
    .inner{
        &.logo{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            img{
                width: 85%;
                margin: auto; 
            }
        }
        &.nav{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            p{
                color: $wText;
                font-size: 2rem;
                font-weight: 600;
                letter-spacing: 2px;
            }
            ul{
                list-style: none;
                padding-left: 0;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;
                li{
                    display: inline-block;
                    width: 50%;
                    a{
                        font-size: 1.8rem;
                        padding: 5px 0;
                        display: block;
                        text-decoration: none;
                        color: $wText;
                        letter-spacing: 1.5px;
                        transition: color .3s ease-in-out;
                        &:hover{
                            transition: color .3s ease-in-out;
                            color: $MainRed;
                        }
                    }
                }
            }
        }
        &.contact2{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            p{
                color: $wText;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
                &.title{
                    font-size: 2rem;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
            }
            a{
                font-size: 1.8rem;
                letter-spacing: 1.5px;
                color: $wText;
                transition: color .3s ease-in-out;
                &:hover{
                    transition: color .3s ease-in-out;
                    color: $MainRed;
                }
            }
        }
    }
}

.mobile-head{
    display: none;
}

#Hamburgur{
    display: none;
}
 
@media only screen and (max-width: 1024px){
    header{
        .d-flex{
            .bottom-wrapper{
                .socials{
                    li{
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 991px){
    footer{
        display: none !important;
    }
}

@media only screen and (max-width: 991px){
    footer{
        display: block !important;
    }
    header{
        width: 100%;
        height: 70px;
        .top-wrapper,
        .middle-wrapper,
        .bottom-wrapper{
            display: none !important;
        }
        .d-flex{
            height: unset;
        }
    }
    #Hamburgur{
        display: block;
    }
    .menu {
        background-color: transparent;
        border: none;
        outline: none !important;
        cursor: pointer;
        display: flex;
        padding: 0;
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 99999;
        .line{
            fill: none;
            stroke: #fff;
            stroke-width: 6;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
            &.top,
            &.bottom{
                stroke-dasharray: 60 207;
                stroke-width: 6;
            }
            &.middle{
                stroke-dasharray: 60 60;
                stroke-width: 6;
            }
        }
        &.active{
            .line{
                &.top,
                &.bottom{
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
                &.middle{
                    stroke-dasharray: 1 60;
                    stroke-dashoffset: -30;
                    stroke-width: 6;
                }
            }
        }
    }
      
    .mobile-head{
        display: block;
        background: $navBlack;
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        .logo-wraper{
            width: 110px;
            padding-top: 10px;
            padding-left: 5px;
            padding-bottom: 10px;
        }
    }
    .menu-wrapper{
        position: absolute;
        background: $navBlack;
        max-height: 65px;
        min-height: 65px;
        top: 69px;
        width: 0px;
        overflow: hidden;
        transition: width .7s ease-in-out;
        &.active{
            width: 100%;
            transition: width .7s ease-in-out;
        }
        ul{
            display: flex;
            padding-left: 0;
            height: 65px;
            justify-content: space-evenly;
            list-style: none;
            li{
                a{
                    text-decoration: none !important;
                    color: $wText;
                    transition: color .3s ease-in-out;
                    height: 100%;
                    display: block;
                    span{
                        opacity: 1;
                        transition: opacity .3s ease-in-out;
                        width: 100%;
                        text-align: center;
                        display: block;
                        font-size: 23px;
                        letter-spacing: 2px;
                        font-weight: 600;
                        margin-top: 10px;
                    }
                }
                &.active{
                    a{
                        color: $MainRed;
                    }
                }
                &:hover{
                    a{
                        color: $MainRed;
                        transition: color .3s ease-in-out;

                        svg{
                            opacity: 0;
                            transition: opacity .3s ease-in-out;
                        }
                        span{
                            opacity: 1;
                            transition: opacity .5s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 420px){
    footer{
        .inner{
            &.logo{
                img{
                    width: 18%;
                }
            }

            &.nav{
                padding: 20px 0;
                div{
                    width: 100%;
                }
                ul{
                    li{
                        a{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    .menu{
        svg{
            width: 55px;
            height: 55px;
        }
    } 
    .mobile-head{
        .logo-wraper{
            width: 85px;
        }
    }
    .menu-wrapper{
        min-height: 50px;
        max-height: 50px;
        ul{
            li{
                a{
                    i{
                        font-size: 25px;
                    }
                    span{
                        font-size: 15px;
                        letter-spacing: 0px;
                        // margin-top: -35px;
                    }
                }
            }
        }
    }
}