@import "../_variables.scss";
@import "../main.scss";
 
section.Home{
    padding: 0;
    min-height: 100vh;
    height: 100%;
    position: relative;

    .HomeBackgroud{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;

        &::before{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $Overlay;
        }

        img{
            object-fit: cover;
            height: 100%;
        }
    }
 
    .HomeTexts{
        z-index: 2;
        min-height: calc(100vh - 41px);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        h1{
            text-align: center;
            font-size: 7rem;
            color: $mainWhite;
            max-width: 845px;
            margin: 0 auto;
            letter-spacing: 1.5px;
            font-weight: 600;
        }
        p{
            text-align: center;
            font-size: 2.5rem;
            color: $mainWhite;
            margin-bottom: 0;
            letter-spacing: 1.5px;
            &:nth-child(2){
                font-size: 3.5rem;
            }
        }
    }
}

@media only screen and (max-width: 991px){
    section.Home{
        .HomeBackgroud{
            img {
                object-fit: cover;
                object-position: left;
            }
        }
        .HomeTexts{
            h1{
                font-size: 5.5rem;
            }
        }
    }
}

@media only screen and (max-width: 420px){
    section.Home{
        .HomeTexts{
            h1{
                font-size: 3rem;
            }
        }
    }
}

@media only screen and (max-width: 385px){
    section.Home{
        .HomeTexts{
            h1{
                font-size: 3rem;
                letter-spacing: 1px;
            }
        }
    }
}

@media only screen and (max-width: 360px){
    section.Home{
        .HomeTexts{
            h1{
                font-size: 2.3rem;
            }
        }
    }
}